

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Socket Programming</div>
    <div class="list-group list-group-flush">
      <a routerLink ="/socketValue" class="list-group-item list-group-item-action bg-light">Simple example</a>
      <a routerLink= "/chart" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    
  </div>
  <!-- /#page-content-wrapper -->

</div>

